%h1 Help

.p
  For reporting security issues, please see instructions at
  = succeed '.' do
    =link_to 'artsy.net/security', 'https://artsy.net/security', target: '_blank'

.p
  For any other inquiries, please e-mail
  = succeed '.' do
    =link_to 'support@artsy.net', 'mailto:support@artsy.net', target: '_blank'
