%footer
  &copy; 2014
  =link_to 'Artsy', 'http://artsy.net', target: '_blank'
  | follow us on Twitter
  =link_to '@artsy', 'http://twitter.com/artsy', target: '_blank'
  |
  =link_to 'About', 'https://artsy.net/about', target: '_blank'
  |
  =link_to 'Open Source', 'http://artsy.github.io/open-source/', target: '_blank'
  |
  =link_to 'Privacy Policy', 'https://artsy.net/privacy', target: '_blank'
  |
  =link_to 'Security', 'https://artsy.net/security', target: '_blank'

