%footer
  &copy;
  =Date.today.year
  =link_to 'Artsy', 'https://www.artsy.net', target: '_blank'
  |
  =link_to 'About', 'https://www.artsy.net/about', target: '_blank'
  |
  =link_to 'Open Source', 'https://artsy.github.io/open-source/', target: '_blank'
  |
  =link_to 'Privacy', 'https://artsy.net/privacy', target: '_blank'
  |
  =link_to 'Security', 'https://artsy.net/security', target: '_blank'
  |
  =link_to image_tag('blacktocat-16.png', border: 0), 'https://github.com/artsy/doppler', target: '_blank'
  =link_to image_tag('bird_blue_16.png', boder: 0), 'https://twitter.com/artsyopensource'
