.jumbotron
  %h1
    The Art World in Your App
    %span.vertical-align-top.tiny &#0153;
  .p
    The Artsy API provides access to images of historic artwork and related information on <a href='http://artsy.net' target='_blank'>artsy.net</a> for educational and other non-commercial purposes. It's currently available for playing, testing, and learning only, and not for production. Please <a href='mailto:support@artsy.net'>contact us</a> for all other inquiries.
  .p
    = link_to "Ready? Start Here", start_path, class: 'btn btn-primary btn-lg'
    = link_to 'Subscribe to the Dev Mailing List', 'http://groups.google.com/group/artsy-api-developers/subscribe', target: '_blank', class: 'btn btn-default btn-lg', id: 'subscribe_link'
    - if @artworks_count.to_i > 0
      %span.btn
        = "#{pluralize(@artworks_count, 'artwork')} available"
  .p.ideas
    Have an app idea or looking for one? Check <a href='https://github.com/artsy/doppler/labels/app%20idea' target='_blank'>these</a> out.
  .p
    By using the API, you agree to our <a href='/terms'>API Terms of Use</a>.

.alert.alert-danger
  .p
    Note that the API is in super early beta and is currently available for internal, experimental use only.
  .p
    It's not available for production at this time, has limited scope, and will likely change.

.alert.alert-success
  Please do
  =link_to 'email us', 'mailto:engineering@artsy.net?subject=Artsy%20API%20Feedback'
  and tell us what you need or if you have any other feedback. We can't wait to see what you build!

