.jumbotron
  %h1
    The Art World in Your App
    %span.vertical-align-top.tiny &#0153;
  .p
    The Artsy API provides access to images of historic artwork and related information on <a href='http://artsy.net' target='_blank'>artsy.net</a> for educational and other non-commercial purposes. It's currently available for playing, testing, and learning only, and not for production. Please <a href='mailto:support@artsy.net'>contact us</a> for all other inquiries.
  .p
    = link_to "Ready? Start Here", start_path, class: 'btn btn-primary btn-lg'
    = link_to 'Subscribe to the Dev Mailing List', 'http://groups.google.com/group/artsy-api-developers/subscribe', target: '_blank', class: 'btn btn-default btn-lg', id: 'subscribe_link'
    - if @artworks_count.to_i > 0
      %span.btn
        = "#{pluralize(@artworks_count, 'artwork')} available"
  .p.ideas
    Have an app idea or looking for one? Check <a href='https://github.com/artsy/doppler/labels/app%20idea' target='_blank'>these</a> out.
  .p
    By using the API, you agree to our <a href='/terms'>API Terms of Use</a>.

.alert.alert-danger
  .p
    The API is available for non-commercial production use.
  .p
    In comparison to the set of data on <a href="https://artsy.net/">artsy.net</a> this API has limited scope. For example, only public domain works are currently accessible.

.alert.alert-success
  Please do
  =link_to 'email us', 'mailto:engineering@artsy.net?subject=Artsy%20API%20Feedback'
  and tell us what you need, or use the
  =link_to 'mailing list', 'http://groups.google.com/group/artsy-api-developers'
  or if you have any other feedback. We can't wait to see what you build!

