.jumbotron
  %h1
    The Art World in Your App
    %span.vertical-align-top.tiny &#0153;
  .p
    The Artsy <a href='/v2'>Public API</a> provides access to images of historic artwork and related information on <a href='http://artsy.net' target='_blank'>artsy.net</a> for educational and other non-commercial purposes.
    In comparison to the set of data on <a href="https://artsy.net/">artsy.net</a> this API has limited scope. For example, only public domain works are currently accessible.
    By using this API, you agree to our <a href='/v1/terms'>API Terms of Use</a>.
  .p
    The Artsy <a href='/v1'>Partner API</a> enables select partners to upload artworks, manage partner artists and more.
    Please <a href='mailto:support@artsy.net'>contact us</a> for access to this API and all other inquiries.
