#!/usr/bin/env puma

directory "/app"
environment ENV.fetch("RAILS_ENV") { "development" }
pidfile  "/shared/pids/puma.pid"
state_path "/shared/pids/puma.state"
threads ENV.fetch("PUMA_THREAD_MIN") { 0 }.to_i, ENV.fetch("PUMA_THREAD_MAX") { 16 }.to_i
bind "unix:///shared/sockets/puma.sock"
activate_control_app "unix:///shared/sockets/pumactl.sock", { no_token: true }
workers ENV.fetch("PUMA_WORKERS") { 1 }.to_i
worker_timeout ENV.fetch("PUMA_WORKER_TIMEOUT") { 60 }.to_i
worker_boot_timeout ENV.fetch("PUMA_WORKER_BOOT_TIMEOUT") { 60 }.to_i
prune_bundler
