/*
 *= require_tree .
 *= require_self
 */

.navbar-brand {
  background-image: image-url("logo.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 70px;
}

pre {
  margin: 10px 0px;
}

h4 {
  padding-top: 20px;
}
