/*
 *= require bootstrap_and_overrides
 */

.navbar-brand {
  background-image: image-url("logo.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 70px;
}

pre {
  margin: 10px 0px;
}

h4 {
  padding-top: 20px;
}

html, body {
  height: 100%;
}

#holder {
  min-height: 100%;
  position:relative;
}

#body {
  padding-bottom: 100px;
}

#holder footer {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 12px;
}
