.response-status-success {
  background-color: #d4edda;
}
.response-status-warning {
  background-color: #fff3cd; 
}
.response-status-danger {
  background-color: #f8d7da;
}
.response-status-default {
  background-color: #f8f9fa;
}

table .clickable-row:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.clickable-row {
  cursor: pointer;
}
